<div class="ui horizontal divider">Upcoming Events</div>
{{event-map events=events lat=lat lng=lng}}
<div class="ui four cards" style="width:100%">
  {{#each events as |event|}}
    {{#if event.occurred}}
    {{else}}
      {{event-tile event=event mapEvent='mapEvent'}}
    {{/if}}
  {{/each}}
</div>
<div class="ui horizontal divider">Completed Events</div>
<div class="ui four cards" style="width:100%">
  {{#each events as |event|}}
    {{#if event.occurred}}
      {{#link-to "event" event.id}}{{event-tile event=event}}{{/link-to}}
    {{else}}
    {{/if}}
  {{/each}}
</div>
