{{#if inNew}}
<form class="ui form" id="review_new_form" {{action "createReview" false on="submit"}}>
  <select id="user-dropdown">
    {{#each event.attended as |user|}}
      <option value={{user.id}}>{{user.name}}</option>
    {{/each}}
  </select>
  <div class="field">
    <label>Comment</label>
    <textarea id="comment" name="comment"></textarea>
  </div>
  <div class="field">
    <label>Rating</label>
    {{ui-rating
    id="event_rating"
    class="heart"
    rating=heartRating
    initialRating=3
    maxRating=5
    onRate=(action (mut heartRating))
    clearable=false}}
  </div>
  <div class="ui submit button mini green">Submit</div>
  <div class="ui error message"></div>
</form>
<div class="ui divider"></div>
{{else}}
  <button class="ui button mini blue" {{action "toggleNew"}}>{{fa-icon "plus"}}</button>
  <br>
{{/if}}
