<button  class="ui button orange large circular" {{action "createIndex" model.users}}>Jam</button><br><br>
<button  class="ui button orange large circular" {{action "fetchIndex"}}>Pop It</button>
<hr>
New interest
<br>
{{input value=i-name placeholder="name" id="i-name"}}
<select id="mature">
  <option>True</option>
  <option>False</option>
</select>
<button class="ui button mini green" {{action "createInterest"}}>Create Interest</button>
<hr>
{{dev-assign users=model.users interests=model.interests updateInterest="updateInterest"}}
<hr>
