New User<br>
{{input value=name placeholder="name" id="name"}}
{{input value=age placeholder="age" id="age"}}
{{input value=zip placeholder="zip" id="zip"}}
{{textarea value=about placeholder="about" id="about"}}
{{input value=avatar placeholder="avatar" id="avatar"}}
<button class="ui button mini green" {{action "createUser"}}>Add User</button>
<hr>
New interest<br>
{{input value=i-name placeholder="name" id="i-name"}}
<select id="mature">
  <option>True</option>
  <option>False</option>
</select>
<button class="ui button mini green" {{action "createInterest"}}>Create Interest</button>
<hr>
{{dev-assign users=model.users interests=model.interests updateInterest="updateInterest"}}
<hr>
{{#each model.users as |user|}}
  {{user.name}}<br>
  {{user.age}}<br>
  {{user.zip}}<br>
  {{user.about}}<br>
  <img src={{user.avatar}}><hr>
{{/each}}
