<!-- <div> -->
  <img class="ui segment right floated fluid image" src={{model.image}} style="height:250px;width:250px;object-fit:cover">
  <img class="ui segment right floated fluid image" src={{model.host.avatar}} style="height:250px;width:250px;object-fit:cover">
  <br>
  Name: {{model.name}}<br>
  Host: {{model.host.name}}<br>
  Max Guests: {{model.maxGuests}}<br>
  Zip Code:  {{model.zip}}<br>
  {{#if model.occurred}}
  <!-- Append rating system -->
  <!-- Append attended -->
  {{else}}
  <!-- Append invited -->
  {{/if}}
<!-- </div> -->
<div style="margin-top:200px">
  {{model.description}}
</div>
