<div class="ui segment basic" style="min-height:250px">
  <img class="ui segment right floated fluid image" src={{model.event.image}} style="height:250px;width:250px;object-fit:cover">
  <img class="ui segment right floated fluid image" src={{model.event.host.avatar}} style="height:250px;width:250px;object-fit:cover">

  <div class="ui horizontal divider" style="font-size:200%;font-family:'Muli'">{{model.event.name}}</div>

  <div class="ui horizontal segments">
    <div class="ui segment" style="background-color:#EEF3E2;text-align:center;">
      <p style="font-size:150%;">Host</p>
      {{model.event.host.name}}
    </div>
    <div class="ui segment" style="background-color:#EEF3E2;text-align:center;">
      <p style="font-size:150%;">Max Guests</p>
      {{model.event.maxGuests}}
    </div>
  </div>
  <div class="ui horizontal segments">
    <div class="ui segment" style="background-color:#EEF3E2;text-align:center;">
      <p style="font-size:150%;">Where</p>
      {{model.event.zip}}
    </div>
    <div class="ui segment" style="background-color:#EEF3E2;text-align:center;">
      <p style="font-size:150%;">When</p>
      {{date-stamp model.event.date}}
    </div>
  </div>
  {{model.event.description}}
</div>

{{#if model.event.occurred}}
<!-- Rating System -->
  Attended
    {{#each model.event.attended as |attended|}}
      <p>{{#link-to "user" attended.id}}{{attended.name}}{{/link-to}}</p>
    {{/each}}
{{else}}
<!-- List of Guests -->
  <br><br>
  <div class="ui horizontal divider" style="font-size:175%;font-family:'Muli'">Attending</div>
  <div class="ui four cards" style="width:100%">
    {{#each model.event.invited as |invited|}}
      {{#unless}}
        {{#link-to "user" invited.id}}{{user-tile user=invited}}{{/link-to}}
      {{/unless}}
    {{/each}}
  </div>
{{/if}}

<!-- Request Invitation as non-host -->
{{#if session.isAuthenticated}}
  {{#unless (isInvited session.uid model.event.invited)}}
    {{#unless (isInvited session.uid model.event.inviteRequests)}}
      {{#unless (isInvited session.uid model.event.invitesSent)}}
        <br>
        <button class="ui button mini circular green fluid" {{action "requestInvite" model.event}}>Request Invite</button>
      {{/unless}}
    {{/unless}}
  {{/unless}}
{{/if}}

<!-- Host Invite Section -->
{{#if (isLoggedIn model.event.host.id session.uid)}}
<div class="ui horizontal divider" style="font-size:175%;font-family:'Muli'">Invitations and Requests</div>
  <!-- Accept Invitations as Host -->
  <select id="user-dropdown">
    {{#each model.event.inviteRequests as |user|}}
      {{#unless (isInvited user.id model.event.inviteRequests)}}
        <option value={{user.id}}>{{user.name}}</option>
      {{/unless}}
    {{/each}}
  </select>
  <button class="ui button mini green circular" {{action "addInvited" model.event}} style="margin-bottom:5px;">Accept Request</button>

  <!-- Send Out Invitations to Users -->

  {{#ui-search source=model.userList onSearchQuery=(action (mut query)) onSelect=(action (mut selected)) style="margin-top:5px;"}}
    <input class="prompt" type="text" placeholder="Users to invite...">
    <div class="results"></div>
    <button class="ui button circular mini green" {{action "sendInvite" model.event}} style="margin-top:5px;">Send Invite</button>
  {{/ui-search}}

  <!-- Mark Invitees as Attended -->
  {{#if model.event.occurred}}
  {{else}}
    <div class="ui horizontal divider" style="font-size:175%;font-family:'Muli'">Wrap-up</div>
    <div style="text-align:center;">Select the guests that attended</div>
    {{#each model.event.invited as |invited|}}
      <button id={{invited.id}} class="ui button basic" {{action "togglebutton" invited invited.id}}>{{invited.name}}</button>
    {{/each}}
    <button class="ui button mini circular green fluid" {{action "eventOccurred" model.event}} style="margin-top:5px;">Event Occurred</button>
  {{/if}}
{{/if}}

{{log model.event}}

<!-- Map of Events -->
<div class="ui horizontal divider" style="font-size:175%;font-family:'Muli'">Whereabouts</div>
{{address-map event=model.event lat=model.event.lat lng=model.event.lng}}
