<!-- <div> -->
  <img class="ui segment right floated fluid image" src={{model.event.image}} style="height:250px;width:250px;object-fit:cover">
  <img class="ui segment right floated fluid image" src={{model.event.host.avatar}} style="height:250px;width:250px;object-fit:cover">
  <br>
  Name: {{model.event.name}}<br>
  Host: {{model.event.host.name}}<br>
  Max Guests: {{model.event.maxGuests}}<br>
  Zip Code:  {{model.event.zip}}<br>

  {{#if model.event.occurred}}
  <!-- Append rating system -->
    Attended

      {{#each model.event.attended as |attended|}}
        <p>{{#link-to "user" attended.id}}{{attended.name}}{{/link-to}}</p>
        <!-- {{attended-tile}} -->
        {{#if (isLoggedIn attended.id session.uid)}}
          {{review-new event=model.event createReview="createReview"}}
        {{/if}}
      {{/each}}



  {{else}}
    <ul>
      {{#each model.event.invited as |invited|}}
        <li>{{#link-to "user" invited.id}}{{invited.name}}{{/link-to}}</li>
      {{/each}}
    </ul>
  {{/if}}
<!-- </div> -->
<div style="margin-top:200px">
  {{model.event.description}}
</div>

{{#if (isLoggedIn model.event.host.id session.uid)}}
  <hr>
  Add user to event
  <hr>
  <select id="user-dropdown">
    {{#each model.users as |user|}}
      <option value={{user.id}}>{{user.name}}</option>
    {{/each}}
  </select>
  <button class="ui button mini green" {{action "addInvited" model.event}}>Assign User to Event</button>

  <hr>
  {{#if model.event.occurred}}
  {{else}}
    {{#each model.event.invited as |invited|}}
      <button id={{invited.id}} class="ui button basic violet" {{action "togglebutton" invited invited.id}}>{{invited.name}}</button>
    {{/each}}
    <button class="ui button" {{action "eventOccurred" model.event}}>Event Occurred</button>
  {{/if}}
{{/if}}
