

<img class="ui segment right floated fluid image" src={{model.event.image}} style="height:250px;width:250px;object-fit:cover">
<img class="ui segment right floated fluid image" src={{model.event.host.avatar}} style="height:250px;width:250px;object-fit:cover">

<div class="ui horizontal divider" style="font-size:200%;font-family:'Muli'">{{model.event.name}}</div>

<div class="ui horizontal segments">
  <div class="ui segment" style="background-color:#EEF3E2;text-align:center;">
    <p style="font-size:150%;">Host</p>
    {{model.event.host.name}}
  </div>
  <div class="ui segment" style="background-color:#EEF3E2;text-align:center;">
    <p style="font-size:150%;">Max Guests</p>
    {{model.event.maxGuests}}
  </div>
</div>
<div class="ui horizontal segments">
  <div class="ui segment" style="background-color:#EEF3E2;text-align:center;">
    <p style="font-size:150%;">Where</p>
    {{model.event.zip}}
  </div>
  <div class="ui segment" style="background-color:#EEF3E2;text-align:center;">
    <p style="font-size:150%;">When</p>
    {{date-stamp model.event.date}}
  </div>
</div>
{{model.event.description}}




{{#if model.event.occurred}}
<!-- Rating System -->
  Attended
    {{#each model.event.attended as |attended|}}
      <p>{{#link-to "user" attended.id}}{{attended.name}}{{/link-to}}</p>

    {{/each}}
{{else}}
<!-- List of Guests -->
  <br><br>
  <div class="ui horizontal divider" style="font-size:175%;font-family:'Muli'">Attending</div>
  <div class="ui four cards" style="width:100%">
    {{#each model.event.invited as |invited|}}
      {{#unless}}
        {{#link-to "user" invited.id}}{{user-tile user=invited}}{{/link-to}}
      {{/unless}}
    {{/each}}
  </div>
{{/if}}
<div class="ui horizontal divider" style="font-size:175%;font-family:'Muli'">Whereabouts</div>
<!-- Request Invitation as non-host -->
{{#if session.isAuthenticated}}
  {{#unless (isInvited session.uid model.event.invited)}}
    {{#unless (isInvited session.uid model.event.inviteRequests)}}
      {{#unless (isInvited session.uid model.event.invitesSent)}}
        <button class="ui button mini green" {{action "requestInvite" model.event}}>Request Invite</button>
      {{/unless}}
    {{/unless}}
  {{/unless}}
{{/if}}

<!-- Host Invite Section -->
{{#if (isLoggedIn model.event.host.id session.uid)}}
  <hr>

  <!-- Accept Invitations as Host -->
  Accept Invite Requests
  <hr>
  <select id="user-dropdown">
    {{#each model.event.inviteRequests as |user|}}
      <option value={{user.id}}>{{user.name}}</option>
    {{/each}}
  </select>
  <button class="ui button mini green" {{action "addInvited" model.event}}>Assign User to Event</button>

  <!-- Send Out Invitations to Users -->
  Send Out Invites
  <select id="invite-send">
    {{#each model.users as |user|}}
      <option value={{user.id}}>{{user.name}}</option>
    {{/each}}
  </select>
  <button class="ui button mini green" {{action "sendInvite" model.event}}>Send Invite</button>

  <!-- Mark Invitees as Attended -->
  <hr>
  {{#if model.event.occurred}}
  {{else}}
    {{#each model.event.invited as |invited|}}
      <button id={{invited.id}} class="ui button basic violet" {{action "togglebutton" invited invited.id}}>{{invited.name}}</button>
    {{/each}}
    <button class="ui button" {{action "eventOccurred" model.event}}>Event Occurred</button>
  {{/if}}
{{/if}}

{{log model.event}}

<!-- Map of Events -->
{{address-map event=model.event lat=model.event.lat lng=model.event.lng}}
