<img class="ui segment right floated" src={{model.user.avatar}} style="width:250px;height:auto;">
{{model.user.name}}<br>
{{model.user.age}}<br>
{{model.user.zip}}<br>
{{model.user.about}}<hr>
{{#if (isLoggedIn model.user.id session.uid)}}

  {{#each model.interests as |interest|}}
    <button id={{interest.id}} class="ui button basic violet" {{action "togglebutton" interest interest.id model.user.id}}>{{interest.name}}</button>
    {{/each}}

  <button class="ui button mini green" {{action "addInterests" model.user.id}}>Add Interests</button>

  {{event-new user=model.user createEvent="createEvent"}}
  <hr>

<!-- List of Invites to Events -->
  Accept Invite Requests
  <hr>
  <select id="user-dropdown">
    {{#each model.user.invitesReceived as |invite|}}
      <option value={{invite.id}}>{{invite.name}}</option>
    {{/each}}
  </select>
  <button class="ui button mini green" {{action "acceptInvite" model.user}}>Accept Request</button>
{{/if}}
  {{interests-edit interests=model.interests user=model.user addInterests="addInterests"}}
  {{event-new user=model.user createEvent="createEvent"}}
