<div class="ui segment basic" style="min-height:250px">
  <img class="ui segment right floated" src={{model.user.avatar}} style="width:250px;height:auto;">
  <div class="">
    <div class="ui horizontal divider" style="font-size:200%;font-family:'Muli'">
      {{model.user.name}}
      {{#if (isLoggedIn model.user.id session.uid)}}
        &nbsp;
        {{#link-to "useredit" model.user.id}}{{fa-icon "fa-pencil-square-o"}}{{/link-to}}
      {{/if}}
    </div>
    <div class="ui horizontal segments">
      <div class="ui segment" style="background-color:#EEF3E2;text-align:center;">
        <p style="font-size:150%;">Age</p>
        {{model.user.age}}
      </div>
      <div class="ui segment" style="background-color:#EEF3E2;text-align:center;">
        <p style="font-size:150%;">Zip</p>
        {{model.user.zip}}
      </div>
    </div>
    <p>{{model.user.about}}</p>
  </div>

</div>

<!-- Change Interests for Authenticated User -->
{{#if (isLoggedIn model.user.id session.uid)}}
  {{user-edit user=model.user updateUser="updateUser"}}
  {{event-new user=model.user createEvent="createEvent"}}

  <!-- List of Invites to Events -->
  {{#if model.user.invitesReceived.length}}
    <div class="ui horizontal divider" style="font-size:175%;font-family:'Muli'">Your Invites</div>
    <select id="user-dropdown">
      {{#each model.user.invitesReceived as |invite|}}
        {{#unless (isInvited model.user.id model.event.invited)}}
          <option value={{invite.id}}>{{invite.name}}</option>
        {{/unless}}
      {{/each}}
    </select>
    <button class="ui button mini green" {{action "acceptInvite" model.user}}>Accept Request</button>
  {{/if}}
{{/if}}

<!-- Lists of Interests -->
{{#if model.user.interests.length}}
  <div class="ui horizontal divider" style="font-size:175%;font-family:'Muli'">Interests</div>
  {{#each model.user.interests as |interest|}}
    <button class="ui button basic blue">{{interest.name}}</button>
  {{/each}}
{{/if}}

<!-- List of Hosted Events -->
{{#if pastEvents}}
  <div class="ui horizontal divider" style="font-size:175%;font-family:'Muli'">Hosted</div>
  <div class="ui four cards" style="width:100%">
    {{#each model.user.hosted as |event|}}
      {{#if event.occurred}}
        {{event-tile event=event mapEvent='mapEvent'}}
      {{else}}
      {{/if}}
    {{/each}}
  </div>
{{/if}}


<div id='plannedHeader' class="ui horizontal divider" style="font-size:175%;font-family:'Muli'">Planned</div>
<div class="ui four cards" style="width:100%">
  {{#each model.user.hosted as |event|}}
    {{#unless event.occurred}}
      {{#link-to "event" event.id}}{{event-tile event=event}}{{/link-to}}
    {{else}}
    {{/unless}}
  {{/each}}
</div>
