<img class="ui segment right floated" src={{model.user.avatar}} style="width:250px;height:auto;">
<div class="ui horizontal divider">{{model.user.name}}</div>
{{model.user.age}}<br>
{{model.user.zip}}<br>
{{model.user.about}}<br>
{{#if (isLoggedIn model.user.id session.uid)}}

  {{interests-edit interests=model.interests user=model.user addInterests="addInterests"}}

  {{event-new user=model.user createEvent="createEvent"}}
<!-- List of Invites to Events -->
<div class="ui horizontal divider">Your Invites</div>
  <select id="user-dropdown">
    {{#each model.user.invitesReceived as |invite|}}
      <option value={{invite.id}}>{{invite.name}}</option>
    {{/each}}
  </select>
  <button class="ui button mini green" {{action "acceptInvite" model.user}}>Accept Request</button>
{{/if}}
<div class="ui horizontal divider">Interests</div>

{{#each model.user.interests as |interest|}}
  <button class="ui button basic blue">{{interest.name}}</button>
{{/each}}
