<img class="ui segment right floated" src={{model.user.avatar}} style="width:250px;height:auto;">
<div class="">
  <div class="ui horizontal divider" style="font-size:200%;font-family:'Muli'">{{model.user.name}}</div>
  <div class="ui horizontal segments">
    <div class="ui segment" style="background-color:#EEF3E2">
      <p style="font-size:150%;">{{model.user.name}}</p>
    </div>
    <div class="ui segment">
      <p>{{model.user.zip}}</p>
    </div>
  </div>
  <div class="ui horizontal segments">
    <div class="ui segment">
      <p>{{model.user.about}}</p>
    </div>
  </div>
</div>

{{#if (isLoggedIn model.user.id session.uid)}}

  {{interests-edit interests=model.interests user=model.user addInterests="addInterests"}}

  {{event-new user=model.user createEvent="createEvent"}}
<!-- List of Invites to Events -->
<div class="ui horizontal divider">Your Invites</div>
  <select id="user-dropdown">
    {{#each model.user.invitesReceived as |invite|}}
      <option value={{invite.id}}>{{invite.name}}</option>
    {{/each}}
  </select>
  <button class="ui button mini green" {{action "acceptInvite" model.user}}>Accept Request</button>
{{/if}}
<div class="ui horizontal divider">Interests</div>

{{#each model.user.interests as |interest|}}
  <button class="ui button basic blue">{{interest.name}}</button>
{{/each}}
